# Sanity Configuration
# Get these from https://manage.sanity.io
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production

# API Version (Optional, defaults to 2024-01-01)
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Mux Video Configuration
# Get these from https://dashboard.mux.com/settings/access-tokens
SANITY_STUDIO_MUX_TOKEN_ID=
SANITY_STUDIO_MUX_TOKEN_SECRET=
